<div style="text-align:center">
    <h1>
        BuscaFarma
    </h1>
    <h2>O menor caminho para aumentar sua saúde!</h2>

    <input type="text" placeholder="Pesquise aqui seu medicamento">
    <button>Pesquisar</button>
    <br>

    <select>
        <option value="Selecione">Ordenar por</option>
        <option value="Menor preço">Menor preço</option>
        <option value="Maior preço">Maior preço</option>
    </select>

    <select>
        <option value="Selecione">Filtrar por farmácia</option>
        <!-- <option *ngFor="let farmacia of farmacias">

        </option> -->
    </select>

    <select>
        <option value="Selecione">Selecione a forma</option>
        <!-- <option *ngFor="let x.forma of x.formas">

        </option> -->
    </select>

    <app-listar-produto></app-listar-produto>

    <router-outlet></router-outlet>
</div>