<div style="text-align:center">
    <h1>
        BuscaFarma
    </h1>
    <h2>O menor caminho para aumentar sua saúde!</h2>

    <a routerLink="/produto/cadastrar">Cadastrar produto</a>
    <a routerLink="/farmacia/cadastrar">Cadastrar farmácia</a><br>

    <input type="text" name="pesquisaMedicamento" placeholder="Pesquise aqui seu medicamento">

    <br>

    <select>
        <option value=" Selecione">Ordenar por</option>
        <option value="Menor preço" routerLink="menorPreco">Menor preço</option>
        <option value="Maior preço">Maior preço</option>
    </select>

    <select>
        <option value=" Selecione">Selecione a farmácia</option>
        <option *ngFor="let farmacia of farmacias" value="{{farmacia.nomeFarmacia}}">{{farmacia.nomeFarmacia}}</option>
    </select>

    <select>
        <option value="Selecione">Selecione a forma</option>
        <option *ngFor="let formaProduto of formasProduto">
            {{ formaProduto.nomeForma }}
        </option>

    </select>

    <br>

    <router-outlet></router-outlet>
</div>