<div style="text-align:center">
    <h1>
        BuscaFarma
    </h1>
    <h2>O menor caminho para aumentar sua saúde!</h2>

    <a routerLink="/produto/cadastrar">Cadastrar produto</a>
    <a routerLink="/farmacia/cadastrar">Cadastrar farmácia</a>
    <a routerLink="/usuario/cadastrar">Cadastre-se</a><br>

    <input type="text" name="pesquisaMedicamento" placeholder="Pesquise aqui seu medicamento">
    <!-- <button routerLink="/produto/listar/{{produto.nomeProduto}}">Pesquisar</button> -->
    <br>

    <select>
        <option value=" Selecione">Ordenar por</option>
        <option value="Menor preço">Menor preço</option>
        <option value="Maior preço">Maior preço</option>
    </select>

    <select>
        <option value="Selecione">Filtrar por farmácia</option>
        <!-- <option *ngFor="let farmacia of farmacias">

        </option> -->
    </select>

    <select>
        <option value="Selecione">Selecione a forma</option>
        <!-- <option *ngFor="let x.forma of x.formas">

        </option> -->

    </select>

    <br>

    <router-outlet></router-outlet>

</div>